* {
  margin: 0;
  padding: 0;
}

body,
h1,
p,
a {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navbar {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.pagetitle {
  font-size: 2rem;
  font-style: bold;
  padding: 1rem;
}

.navlink-container {
  display: flex;
}

.navlink {
  display: block;
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
}

.navlink:last-of-type {
  padding-right: 2rem;
}

.navlink:hover {
  font-size: 1.7rem;
  background: black;
}

.pagetitle:hover {
  font-size: 2.1rem;
  background: black;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.dsb-navdrop {
  /*display: none;*/
  position: absolute;
  z-index: 5;
  background-color: #333;
  margin: 0;
  padding: 0;
  border-radius: 0 0 15px 15px;
}

#navlink_dsb {
  display: none;
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
}

#navlink_dsb:hover {
  background: black;
  border-radius: 0 0 15px 15px;
}

.dropdown:hover #navlink_dsb {
  display: block;
}

#welcome {
  background-image: url("backgrounds/flag-eu.svg");
  background-position: center;
  /*top: 2rem;*/
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  vertical-align: center;
  height: 100vh;
}

#welcome h1 {
  text-align: center;
  font-size: 8rem;
  font-weight: bold;
  color: gold;
  margin: auto;
}

.imgsource-background {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1rem;
  width: fit-content;
  background: #737373;
  vertical-align: center;
  padding: 0.5rem;
  border-top-right-radius: 10px;
}

#welcome-background-src {
  bottom: 2rem;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  transform-style: inherit;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide,
.slide:before {
  background: 50% 50% / cover;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 230, 220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.title h1 {
  color: #333;
  font-size: 2rem;
}

.title h1:nth-of-type(2) {
  padding-top: 2rem;
}

.title h2 {
  padding: 1rem;
}

.questions {
  position: absolute;
  top: 28vh;
  max-width: 33%;
  height: fit-content;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
}

.questions.left {
  left: 5%;
}

.questions.right{
  right: 5%;
}

.questions details {
  padding: 1rem;
  border-top: solid black 1px;
  max-width: 100%;
}

.questions details:nth-of-type(1) {
  border-top: none;
}

.questions ul {
  padding: 1rem;
  font-size: 1rem;
}

.questions ul ul {
  padding: 0.3rem;
  padding-left: 1rem;
}

#chapter1,
#chapter2,
#chapter3,
#chapter4,
#chapter4_dsb,
#chapter5,
#chapter8 {
  background-position: center;
  background-size: cover;
}

#chapter1 {
  background-image: url("backgrounds/doc_stamp.svg");
}

#chapter2 {
  background-image: url("backgrounds/personal_data.svg");
}

#chapter3 {
  background-image: url("backgrounds/rights.svg");
}

#chapter4 {
  background-image: url("backgrounds/tasker.svg");
}

#chapter4_dsb {
  background-image: url("backgrounds/datenschutzbeauftragter.svg");
}

#chapter5 {
  background-image: url("backgrounds/world.svg");
}

#chapter8 {
  background-image: url("backgrounds/gavel.svg");
}

#generalQuestions {
  background-image: url("backgrounds/questions.svg");
}